version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 10
    commit-message:
      prefix: "chore(deps)"
    groups:
      effect:
        patterns:
          - "effect"
          - "@effect/*"
      dev-dependencies:
        dependency-type: "development"
        exclude-patterns:
          - "effect"
          - "@effect/*"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "chore(deps)"
